
@{
    ViewBag.Title = "Panel";
}

<div class="btn-block" style="display:flex">
    <a class="btn-default btn-primary" style="margin-right:10px" href="/Moderation/Users">User List</a>
    <a class="btn-default btn-primary" style="margin-right:10px" href="/Moderation/Ideas">Idea List</a>
</div>